/* =============
    Heroes
============= */
#hero {
    background-image: url("../img/hero/hero.jpg");
    background-position: -100px 0;
    background-size: cover;
    height: 358px;
    margin-top: 60px;
    @include sm {
        height: 400px;
    }
    @include md {
        height: 600px;
    }
    @include lg {
        height: 700px;
        margin-top: 80px;
    }
    @include xl {
        height: 900px;
    }
    @include xxl {
        height: 90vh;
    }
}

#hero-2 {
    background-image: url("../img/hero/hero-2.jpg");
    background-position: right bottom;
    background-size: cover;
    height: 421px;
    @include sm {
        background-position: center;
        height: 475px;
    }
    @include md {
        height: 525px;
    }
    @include lg {
        height: 600px;
    }
    @include xl {
        height: 100vh;
    }
}
